<a href="https://colab.research.google.com/github/Hardikgupta63/DV-lab-assignment/blob/main/DV%20assignment02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

# 1. Create Student and Dept DataFrames
student_data = {
    'Std_id': ['St11', 'St12', 'St13', 'St14', 'St15', 'St16', 'St17', 'St18', 'St19', 'St20'],
    'name': ['Rama', 'Krishna', 'Balarama', 'Hanuma', 'Jaya', 'Sita', 'Radha', 'Rukmini', 'Lakshmi', 'Bharatha'],
    'Sem': [1, 1, 2, 2, 3, 3, 3, 2, 1, 1],
    'age': [19, 20, 21, 18, 20, 22, 19, 17, 19, 22],
    'CGPA': [7.5, 8.9, 9.9, 9.5, 8.3, 8.5, 8.3, 8.1, 9.2, 9.5],
    'Dept_id': ['D1', 'D1', 'D2', 'D2', 'D3', 'D4', 'D4', 'D4', 'D1', 'D2']
}

dept_data = {
    'Dept_id': ['D1', 'D2', 'D4', 'D5', 'D6'],
    'Dname': ['CSE', 'Mech', 'AI and ML', 'ECE', 'Civil'],
    'Dloc': ['Bangalore', 'Goa', 'Delhi', 'Bangalore', 'Mathura'],
    'D_Hod': ['Indra', 'Chadra', 'Surya', 'Mourya', 'Harsha']
}

In [6]:
student_df = pd.DataFrame(student_data)
dept_df = pd.DataFrame(dept_data)

In [9]:


# 2. Inner Join and Outer Join
inner_join_result = pd.merge(student_df, dept_df, on='Dept_id', how='inner')
outer_join_result = pd.merge(student_df, dept_df, on='Dept_id', how='outer')

In [10]:
# 3. Merge based on dept_id
merged_df = pd.merge(student_df, dept_df, on='Dept_id')

In [11]:
# 4. Extract CSE department student details
cse_students = merged_df[merged_df['Dname'] == 'CSE']

In [12]:
# 5. Extract students whose name starts with 'R'
r_name_students = merged_df[merged_df['name'].str.startswith('R')]

In [13]:
# 6. Extract students with CGPA > 9.0
high_cgpa_students = merged_df[merged_df['CGPA'] > 9.0]

In [14]:
# 7. Rename the 'Dname' column to 'dept_name'
merged_df.rename(columns={'Dname': 'dept_name'}, inplace=True)

In [15]:
# 8. Find highest and lowest CGPA in each department
highest_cgpa = merged_df.groupby('Dept_id')['CGPA'].max()
lowest_cgpa = merged_df.groupby('Dept_id')['CGPA'].min()

In [17]:
# 9. Extract 2nd, 4th, and 6th rows from Dept table
dept_rows = dept_df.loc[[1, 3, 4]]

In [18]:
# 10. Reshape Dept table
reshaped_dept = dept_df.pivot(index='Dname', columns='Dloc', values='D_Hod')

In [19]:
# Displaying results
print("Inner Join Result:")
print(inner_join_result)
print("\nOuter Join Result:")
print(outer_join_result)
print("\nMerged DataFrame:")
print(merged_df)
print("\nCSE Department Students:")
print(cse_students)
print("\nStudents with Names Starting with 'R':")
print(r_name_students)
print("\nStudents with CGPA > 9.0:")
print(high_cgpa_students)
print("\nHighest CGPA in Each Department:")
print(highest_cgpa)
print("\nLowest CGPA in Each Department:")
print(lowest_cgpa)
print("\nSelected Rows from Dept Table:")
print(dept_rows)
print("\nReshaped Dept Table:")
print(reshaped_dept)

Inner Join Result:
  Std_id      name  Sem  age  CGPA Dept_id      Dname       Dloc   D_Hod
0   St11      Rama    1   19   7.5      D1        CSE  Bangalore   Indra
1   St12   Krishna    1   20   8.9      D1        CSE  Bangalore   Indra
2   St19   Lakshmi    1   19   9.2      D1        CSE  Bangalore   Indra
3   St13  Balarama    2   21   9.9      D2       Mech        Goa  Chadra
4   St14    Hanuma    2   18   9.5      D2       Mech        Goa  Chadra
5   St20  Bharatha    1   22   9.5      D2       Mech        Goa  Chadra
6   St16      Sita    3   22   8.5      D4  AI and ML      Delhi   Surya
7   St17     Radha    3   19   8.3      D4  AI and ML      Delhi   Surya
8   St18   Rukmini    2   17   8.1      D4  AI and ML      Delhi   Surya

Outer Join Result:
   Std_id      name  Sem   age  CGPA Dept_id      Dname       Dloc   D_Hod
0    St11      Rama  1.0  19.0   7.5      D1        CSE  Bangalore   Indra
1    St12   Krishna  1.0  20.0   8.9      D1        CSE  Bangalore   Indra
2    St19   Lakshmi  1.0  19.0   9.2      D1        CSE  Bangalore   Indra
3    St13  Balarama  2.0  21.0   9.9      D2       Mech        Goa  Chadra
4    St14    Hanuma  2.0  18.0   9.5      D2       Mech        Goa  Chadra
5    St20  Bharatha  1.0  22.0   9.5      D2       Mech        Goa  Chadra
6    St15      Jaya  3.0  20.0   8.3      D3        NaN        NaN     NaN
7    St16      Sita  3.0  22.0   8.5      D4  AI and ML      Delhi   Surya
8    St17     Radha  3.0  19.0   8.3      D4  AI and ML      Delhi   Surya
9    St18   Rukmini  2.0  17.0   8.1      D4  AI and ML      Delhi   Surya
10    NaN       NaN  NaN   NaN   NaN      D5        ECE  Bangalore  Mourya
11    NaN       NaN  NaN   NaN   NaN      D6      Civil    Mathura  Harsha

Merged DataFrame:
  Std_id      name  Sem  age  CGPA Dept_id  dept_name       Dloc   D_Hod
0   St11      Rama    1   19   7.5      D1        CSE  Bangalore   Indra
1   St12   Krishna    1   20   8.9      D1        CSE  Bangalore   Indra
2   St19   Lakshmi    1   19   9.2      D1        CSE  Bangalore   Indra
3   St13  Balarama    2   21   9.9      D2       Mech        Goa  Chadra
4   St14    Hanuma    2   18   9.5      D2       Mech        Goa  Chadra
5   St20  Bharatha    1   22   9.5      D2       Mech        Goa  Chadra
6   St16      Sita    3   22   8.5      D4  AI and ML      Delhi   Surya
7   St17     Radha    3   19   8.3      D4  AI and ML      Delhi   Surya
8   St18   Rukmini    2   17   8.1      D4  AI and ML      Delhi   Surya

CSE Department Students:
  Std_id     name  Sem  age  CGPA Dept_id Dname       Dloc  D_Hod
0   St11     Rama    1   19   7.5      D1   CSE  Bangalore  Indra
1   St12  Krishna    1   20   8.9      D1   CSE  Bangalore  Indra
2   St19  Lakshmi    1   19   9.2      D1   CSE  Bangalore  Indra

Students with Names Starting with 'R':
  Std_id     name  Sem  age  CGPA Dept_id      Dname       Dloc  D_Hod
0   St11     Rama    1   19   7.5      D1        CSE  Bangalore  Indra
7   St17    Radha    3   19   8.3      D4  AI and ML      Delhi  Surya
8   St18  Rukmini    2   17   8.1      D4  AI and ML      Delhi  Surya

Students with CGPA > 9.0:
  Std_id      name  Sem  age  CGPA Dept_id Dname       Dloc   D_Hod
2   St19   Lakshmi    1   19   9.2      D1   CSE  Bangalore   Indra
3   St13  Balarama    2   21   9.9      D2  Mech        Goa  Chadra
4   St14    Hanuma    2   18   9.5      D2  Mech        Goa  Chadra
5   St20  Bharatha    1   22   9.5      D2  Mech        Goa  Chadra

Highest CGPA in Each Department:
Dept_id
D1    9.2
D2    9.9
D4    8.5
Name: CGPA, dtype: float64

Lowest CGPA in Each Department:
Dept_id
D1    7.5
D2    9.5
D4    8.1
Name: CGPA, dtype: float64

Selected Rows from Dept Table:
  Dept_id  Dname       Dloc   D_Hod
1      D2   Mech        Goa  Chadra
3      D5    ECE  Bangalore  Mourya
4      D6  Civil    Mathura  Harsha

Reshaped Dept Table:
Dloc      Bangalore  Delhi     Goa Mathura
Dname
AI and ML       NaN  Surya     NaN     NaN
CSE           Indra    NaN     NaN     NaN
Civil           NaN    NaN     NaN  Harsha
ECE          Mourya    NaN     NaN     NaN
Mech            NaN    NaN  Chadra     NaN